@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

#p-1 {
    font-family: 'Cutive Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p-1 > * {
    height: 10%;
    margin: 0;
}

.ityped-cursor {
    font-size: var(--h1-size);
}