#p-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#p-2-arrow-left > svg,
#p-2-arrow-right > svg {
    width: 75px;
    height: 75px;
    filter: invert();
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin: 20px;
    cursor: pointer;
    z-index: 2;
}

#p-2-arrow-right > svg {
    right: 0;
}

#p-2-arrow-left > svg {
    left: 0;
    transform: rotate(180deg);
}

#p-2-langage-container {
    flex-grow: 1;
    width: 100%;
    align-self: center;
    display: grid;
    place-items: center;
    position: relative;
    margin-top: 50px;
}

.langage {
    width: 50%;
    height: 75%;
    text-align: center;
    position: absolute;
    display: none;
    grid-template-rows: 40% 60%;
    justify-items: center;
    gap: 50px;
}

#p-2-langage-container img {
    height: 100%;
    cursor: pointer;
}

#p-2-langage-container figcaption {
    font-size: 20px;
}

.current {
    display: grid;
}

#p-2-disposition {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 50px;
    width: 50px;
    height: auto;
    cursor: pointer;
}

#p-2-disposition:hover,
#p-2-arrow-right svg:hover,
#p-2-arrow-left svg:hover {
    fill: white;
    filter: none;
}

.container-grid {
    grid-template-columns: repeat(4, 1fr);
}

.container-grid .langage {
    display: block;
    position: static;
}

.container-grid > .langage > img {
    width: 75%;
    height: auto !important;
}