#p-6 img {
    width: 10%;
    /*mix-blend-mode: screen;*/
}

#p-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#p-6-container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    gap: 20px;
}

#p-6-container > article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p-6-container > article > div  {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p-6-container > article > div > div > *{
    transition: transform 1500ms;
}

#p-6-container > article:nth-child(odd) > div > div > div {
    transform: translateX(-100%);
}

#p-6-container > article:nth-child(even) > div > div  > div {
    transform: translateX(100%);
}

#p-6-container > article > div:hover > div  > div {
    transform: translateX(0);
}

.line {
    position: absolute;
    width: 100%;
    height: 100%;
}

.line::before,
.line::after {
    position: absolute;
    height: 4px;
    background-color: blueviolet;
    top: 50%;
    content: "";
    display: inline-block;

}

.line::before {
    left: 0;
}

.line::after {
    right: 0;
}

#p-6-container > article:nth-child(odd) .line::before,
#p-6-container > article:nth-child(even) .line::after  {
    background: #020024;
    background: linear-gradient(90deg, #00d4ff 0%, #095779 40%, #020024 100%);
    width: 30%;
    transition: width 1500ms;
}

#p-6-container > article:nth-child(odd) .line::after,
#p-6-container > article:nth-child(even) .line::before {
    background: #020024;
    background: linear-gradient(90deg, #020024 0%, #095779 40%, #00d4ff 100%);
    width: 52%;
    transition: width 1500ms;
}

#p-6-container > article:nth-child(odd) > div:hover .line::before,
#p-6-container > article:nth-child(even) > div:hover .line::after  {
    width: 42%;
}

#p-6-container > article:nth-child(odd) > div:hover .line::after,
#p-6-container > article:nth-child(even) > div:hover .line::before {
    width: 38%;
}
