@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    word-spacing: 0.2rem;
    letter-spacing: 0.05rem;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

header {
    background-color: beige;
}

main {
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

footer {
    display: flex;
    justify-content: space-around;
}

h1,
h2,
h3 {
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.5rem;
    text-indent: 0.5rem;
}
h4,
h5,
h6 {
    text-decoration: underline;
    font-size: 1.2rem;
    text-indent: 1rem;
}

/*
 * Header
*/

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul img {
    width: 3em;
}

/*
 * Aticles
*/

article {
    padding: 0.5rem;
}

article>section:first-child>p{
    text-align: end;
    font-weight: 300;
    font-size: 0.5rem;
    font-style: italic;
}

article>section:last-child{
    padding: 0 2rem;
}

article>section>p{
    text-align: justify;
    text-indent: 1.5rem;
}

article>section>p>a {
    color: blue;
    text-decoration: underline;
}