#welcome_screen{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: white;
    z-index: 100;
    margin: 0; padding: 0;
    border: none; outline: none;
    display: flex;
    align-items: center; justify-content: center;
    flex-direction: column;
    transform: translateX(0%);
    opacity: 0;
    animation: welcomeScreenFrame .5s forwards;
}

#welcome_screen>img{
    width: 125px;
    pointer-events: none;
    transform: translateY(10px);
    border-radius: 50%;
    /* animation: welcomeScreenImage 2.5s forwards; */
}

#welcome_screen_title{
    /* display: none; */
    color: black;
    font-size: 35px;
    font-weight: 600;
    transform: translateY(-10px);
    opacity: 1;
    /* animation: welcomeScreenText 2.5s forwards; */
}

@keyframes welcomeScreenFrame{
    from{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    95%{
        opacity: 0;
    }
    96%{
        transform: translateX(0%);
        opacity: 0;
    }
    to{
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes welcomeScreenImage{
    from{
        transform: translateY(25px);
    }
    to{
        transform: translateY(10px);
    }
}

@keyframes welcomeScreenText{
    from{
        transform: translateY(-25px);
        opacity: 0;
    }
    to{
        transform: translateY(-10px);
        opacity: 1;
    }
}

#welcome_screen_footer{
    position: fixed;
    bottom: 0; left: 0;
    width: 100%;
    height: 25px;
    background-color: rgb(218, 218, 218);
    margin: 0; padding: 0;
    display: flex;
    align-items: center;
    text-indent: 10px;
}

#diaporama_canvas{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background-color: rgba(73, 73, 73);
}

.diapo{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    padding-left: 300px; padding-right: 300px;
    background-color: rgba(31, 31, 31);
}

.diapo-title{
    font-size: 75px;
    font-family: 'Abril Fatface', cursive;
}

.diapo-text{
    font-size: 22.5px;
}

#diapo1{
    transform: scale(1);
}
#diapo2{
    transform: scale(0);
}

.corner-btn-bar{
    position: absolute;
    bottom: 15px; right: 15px;
    height: 70px;
    padding-left: 10px; padding-right: 10px;
    border-radius: 35px;
    background-color: rgba(73, 73, 73);
    box-shadow: 0 0 15px 0 rgba(80, 80, 80, 0.39);
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 90;
    transition: .3s;
}
.corner-btn-bar:hover{
    box-shadow: 0 0 30px 0 rgba(73, 73, 73, 0.719);
}

.corner-btn{
    width: 50px; height: 50px;
    padding: 0; margin: 0;
    border-radius: 50%;
    background-color: blueviolet;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.24);
    display: flex;
    align-items: center; justify-content: center;
    color: white;
    transition: .3s;
    z-index: 91;
}
.corner-btn:hover{
    background-color: rgb(160, 70, 245);
}

#corner_btn_arrow_right{
    width: 25px; height: 25px;
    transform: rotate(180deg);
}

#corner_btn_arrow_left{
    width: 25px; height: 25px;
    transform: rotate(0deg);
}

.corner-btn-separator{
    width: 10px;
}