@import url("./bulma.min.css");

/* Cursor */


#setLight {
  position: absolute;
  font-size: 1em;
  color: #00FFA4;
  font-family: sans-serif;
  line-height: 30px;
}
#setLight span{
  color: silver;
}

#DiacoDesignLink,#pens{
  color: #fff;
}

/* svg */
#quentinBubuSvg {
  width: 130px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#quentinBubuPath {
  transform: rotate(90deg);
  transform-origin: 0 120px;
  width: 100%;
}

main {
  margin-left: 130px;
}

/* Custom CSS */
.title-shadow {
  /* text-shadow: rgba(104, 255, 0, 0.651) 10px 0 10px; */
  letter-spacing: 1px;
}

.strong {
  border-radius: 10px;
  padding: 3px;
  font-weight: 800;
}

.circle {
  --bulma-navbar-item-img-max-height: 3rem;
  border-radius: 50%;
  padding: 3px;
}

.pink-light {
  color: #da40c0ce;
  background-color: #f065962f;
}

.orange-light {
  color: #fab005;
  background-color: #f0e2652f;
}

/* Tape */

.tape {
  background-image: url("../svg/tape.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: right center;
  padding: 0 10px;
}

.tape-purple {
  filter: hue-rotate(270deg);
}

.tape-blue {
  filter: hue-rotate(180deg);
}

.tape-green {
  filter: hue-rotate(90deg);
}

.tape-pink {
  filter: hue-rotate(620deg);
}

/* Timeline */
.cbp_tmtimeline {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}

/* The line */
.cbp_tmtimeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #afdcf8;
  left: 20%;
  margin-left: -10px;
}

.cbp_tmtimeline > li {
  position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 130px;
  position: absolute;
  text-align: right;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 0 15px 25%;
  background: #3594cb;
  color: #fff;
  padding: 2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
  background: #6cbfee;
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #3594cb;
  border-width: 10px;
  top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
  border-right-color: #6cbfee;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
  width: 40px;
  height: 40px;
  font-family: "ecoico";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #46a4da;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #afdcf8;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 0 0 0 -25px;
}

/* Parallax */
#quentin-bubu-home {
  background-color: transparent;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

@media screen and (max-width: 47.2em) {
  .cbp_tmtimeline:before {
    display: none;
  }

  .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }

  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
  }

  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: #3594cb;
    top: -20px;
  }

  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: #6cbfee;
  }

  .cbp_tmtimeline > li .cbp_tmicon {
    position: relative;
    float: right;
    left: auto;
    margin: -55px 5px 0 0px;
  }
}
