:root {
    font-size: 30px;
    font-family: 'Isabel';
}

body {
    background-color: #260f30;
    color: #ab21c7;
    display: flex;
    flex-direction: column;
}

main {
    text-align: center;
}

#langages>section>article {
    margin: 1rem 0;
}

#langages>section>article>a>figure>img:hover {
    transform: rotate(360deg) scale(1.3);
}

#langages>section>article>a>figure>img {
    height: 5.5rem;
    width: auto;
    transition: all 750ms;
}

footer {
    background-color: grey;
}

footer>section>h2 {
    margin: 0;
    margin-bottom: 0.5rem;
}

.reseaux>article>a>img {
    width: 75px;
    height: auto;
    transition: all 1s;
}

.reseaux>article>a>img:hover {
    transform: rotate(720deg) scale(1.8);
}

.reseaux>article>a>img {
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: underline;
    margin: 2rem;
}

li {
    list-style: circle;
}

mark {
    font-weight: bold;
    background-color: #ab21c7;
    /*color: #260730;*/
    mix-blend-mode: screen;
}

@media (min-width: 769px) {
    main {
        margin: 0 15px;
    }
    .reseaux {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .reseaux>article {
        justify-self: center;
        text-align: center;
    }
    #langages>section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    #langages>section>article {
        justify-self: center;
    }
    #langages>section>article>a>* {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 768px),
(orientation: portrait) {
    body {
        text-align: center;
    }
    h1 {
        margin: 0;
    }
    .reseaux {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .reseaux>article>a>img {
        margin: 20px auto;
    }
    #langages>section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #langages>section>article>a>* {
        display: flex;
        justify-content: center;
    }
    footer>section>p>a {}
}

display: block;
word-break: break-all;

}

}