@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    --border: #3498db;
    --borderRadius: 75px;
}

html {
    scroll-behavior: smooth;
}

body {
    --scrollbar-width: calc(100vw - 100%);
}

header {
    margin: 20px;
    height: 120px;
    border: solid var(--border) 5px;
    border-radius: var(--borderRadius);
    display: flex;
    align-items: center;
    width: 85%;
    padding: 0.3%;
}

header>img {
    border-radius: 50%;
    height: 100%;
}

header>h1 {
    text-align: center;
    font-size: 2rem;
}

main {
    padding: 1.5%;
    border: solid var(--border) 5px;
    border-radius: var(--borderRadius);
    width: 98%;
}

#langages>section>article>a>figure>img {
    height: 5.5rem;
    width: auto;
    padding: 10px;
}

#langages>#project + section>article>a>figure>img {
    width: 100%;
    height: auto;
}

#langages>section>article>a>figcaption>img{
    width: 50%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: underline;
    margin: 2rem 0;
}

mark {
    font-weight: bold;
}

a {
    display: inline-block;
}

aside{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: var(--scrollbar-width);
}

aside>nav>ul>li{
    writing-mode: vertical-rl;
    font-size: 0.5rem;
}

aside>nav>ul>li:hover{
    color: var(--border);
}

footer {
    border: solid var(--border) 5px;
    margin: 20px;
    padding: 1.5%;
    border-radius: var(--borderRadius);
    width: 98%;
}

footer>section>h2 {
    margin: 0;
    margin-bottom: 0.5rem;
}

footer>section>p {
    text-align: center;
}

footer>section>section>article>a>img {
    width: 75px;
    height: auto;
}

footer>section>section>article>a>img {
    margin: auto;
}

@media (min-width: 769px) {
    header>h1 {
        width: calc(100% - 220px);
    }
    #langages>section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #langages>section>article {
        justify-self: center;
    }

    #langages>section>article>a>* {
        display: flex;
        justify-content: center;
    }
    footer>section>section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    footer>section>section>article {
        justify-self: center;
        text-align: center;
    }
}

@media screen and (max-width: 768px),
(orientation: portrait) {
    *{
        text-align: center;
    }
    :root{
        font-size: 20px;
    }
    header {
        flex-direction: column;
        width: 98%;
        height: auto;
    }
    header>img{
        height: 6rem;
        width: auto;
    }
    h1 {
        margin: 0;
    }

    #langages>section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #langages>section>article>a>* {
        display: flex;
        justify-content: center;
    }

    footer>section>section {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    footer>section>section>article>a>img {
        margin: 20px auto;
    }

    footer>section>p>a {
        display: block;
        word-break: break-all;
    }
}

::-webkit-scrollbar{
    width: 12.5px;
    background-color: rgb(218, 218, 218);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--border);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(132, 140, 255);
}

::-webkit-scrollbar-thumb:active{
    background-color: rgb(0, 119, 255);
}
