@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    --border: #3498db;
    --borderRadius: 75px;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin: 20px;
    height: 120px;
    border: solid var(--border) 5px;
    border-radius: var(--borderRadius);
    display: flex;
    align-items: center;
    width: 85%;
    padding: 0.3%;
}

header>img {
    border-radius: 50%;
    height: 100%;
}

header>h1 {
    text-align: center;
    width: calc(100% - 220px);
    font-size: 2rem;
}

main {
    padding: 1%;
    border: solid var(--border) 5px;
    border-radius: var(--borderRadius);
    width: 98%;
}

#langages>section>article>a>figure>img {
    height: 5.5rem;
    width: auto;
    padding: 10px;
}

#langages>#project + section>article>a>figure>img {
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: underline;
    margin: 2rem 0;
}

mark {
    font-weight: bold;
}

a {
    display: inline-block;
}

aside{
    position: fixed;
    transform: rotate(90deg);
    right: -355px;
    top: 50%;
    bottom: 50%;
}

aside>nav>ul{
    list-style-type: "-";
}

aside>nav>ul>li{
    display: inline;
    font-size: 0.5rem;
}

aside>nav>ul>li:hover{
    color: var(--border);
}


footer {
    border: solid var(--border) 5px;
    margin: 20px;
    padding: 1%;
    border-radius: var(--borderRadius);
    width: 98%;
}

footer>section>h2 {
    margin: 0;
    margin-bottom: 0.5rem;
}

footer>section>p {
    text-align: center;
}

.reseaux>article>a>img {
    width: 75px;
    height: auto;
}

.reseaux>article>a>img {
    margin: auto;
}

@media (min-width: 769px) {
    #langages>section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #langages>section>article {
        justify-self: center;
    }

    #langages>section>article>a>* {
        display: flex;
        justify-content: center;
    }

    .reseaux {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .reseaux>article {
        justify-self: center;
        text-align: center;
    }
}

@media screen and (max-width: 768px),
(orientation: portrait) {
    h1 {
        margin: 0;
    }

    #langages>section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #langages>section>article>a>* {
        display: flex;
        justify-content: center;
    }

    .reseaux {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .reseaux>article>a>img {
        margin: 20px auto;
    }

    footer>section>p>a {
        display: block;
        word-break: break-all;
    }
}