/*
 * general
 */

:root {
    font-size: 20px;
    background-color: #9da3ff;
    scroll-behavior: smooth;
    letter-spacing: .1rem;
    word-spacing: .1rem;
    --blue1: #9fdef1;
    --white1: #d2f5f7;
    font-family: 'Candara';
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #28b6b177;
}

::-webkit-scrollbar-thumb {
    background: #2156eb;
    border-radius: 100px;
}

main {
    margin-left: .5rem;
}

main > * {
    visibility: hidden;
    margin: 5vh 0;
    max-width: 75%;
    border-radius: 75px;
    padding: 2rem;
}

a {
    text-decoration: underline;
    font-weight: 600;
}

section {
    margin-right: .5rem;
    margin-left: .5rem;

}

h3 {
    font-size: 1.5em;
    text-decoration: underline;
    color: #421ee2cb;
}

h6 {
    font-size: 1.2em;
    text-decoration: underline;
    text-decoration-style: wavy;
    color: #098633;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0;
}

main > *:nth-child(2n+1) {
    background-color: var(--blue1);
}

main > *:nth-child(2n) {
    background-color: var(--white1);
    align-self: flex-start;
    width: 30%;
}

#infos span,
#services span {
    font-size: 1.5rem;
    vertical-align: -webkit-baseline-middle;
    margin-right: .5rem;
}


/*
 * header
 */

header {
    background-color: #28b6b177;
}

header img {
    display: inline;
    position: absolute;
}

header > div:first-child {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}

header > div > p {
    align-self: flex-end;
    margin-top: .5rem;
}

/*
 * nav menu
 */

header > div:last-child > nav {
    padding-top: .2rem;
}

header > div:last-child > nav > label,
header > div:last-child > nav > input {
    display: none;
}

header > div:last-child > nav > ul {
    display: flex;
    justify-content: space-around;
    background-color: #dfd9e7;
}

header > div:last-child > nav > ul > li {
    transition: all .2s;
    padding: .35rem 1.5rem;
}

header > div:last-child > nav li:hover {
    background-color: #f9dfebbd;
}

header > div:last-child > nav > ul > li > *:not(a) {
    display: none;
}

header > div:last-child > nav > ul > li > a:hover ~ input ~ ul,
header > div:last-child > nav > ul > li > a ~ input ~ ul:hover {
    display: block;
    position: absolute;
    background-color: #dfd9e7;
    margin-top: -3px;
    margin-left: 5px;
    padding: .3rem;
}

/*
 * banner
 */

#home {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#home img {
    height: 8rem;
    width: auto;
    vertical-align: middle;
    margin-left: 1rem;
}

#home > div > *:not(h6) {
    margin-right: .5rem;
}

/*
 * informations section
 */

#infos > div > div > div {
    display: flex;
}

/*
 * services section
 */

#services p {
    flex: 1 1 100%;
}

#services span {
    color: #003Fff;
}

#services span ~ h4 {
    text-decoration: underline;
    text-decoration-color: #0004ff;
}

#services > div > div > div {
    margin: 3vh 0;
}

#services > div > div > div > div {
    display: flex;
    flex-wrap: wrap;
}

/*
 * about section
 */

#about > div > div > div {
    display: flex;
    align-items: center;
    column-gap: 3%;
}

#about > div > div > div > span {
    width: 20px;
    color: #fa000094;
    text-align: right;
}

#about > div > div > div > h4 {
    text-decoration: underline;
    text-decoration-color: #fa000094;
}

/*
 * form section
 */

#appointment > div {
    display: flex;
    flex-direction: row-reverse;
}

#appointment > div > div {
    flex: 1;
}

#appointment > div > div:first-child > form {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-around;
}

#appointment form input,
#appointment form button {
    width: 75%;
    margin: .5rem;
    font-size: 1.2rem;
}

#appointment form input:valid {
    border: 2px solid green;
}

#appointment form input:invalid {
    border: 2px solid red;
}

#appointment form input:focus {
    outline: orange solid 2px;
    border: none;
}

#appointment form button {
    border: 2px solid red;
    color: red;
}

#appointment form > input:valid ~ input:valid ~ input:valid ~ input:valid ~ input:valid  ~ button {
    border: 2px solid green;
    color: green;
}

/*
 * application section
 */

#application {
    width: 50%;
}

#application > div > div:first-child > img {
    height: 50vh;
}

#application > div {
    display: flex;
    flex-direction: column-reverse;
}

#application > div > div:last-child {
    display: grid;
}

#application > div > div:last-child > p:first-child {
    order: 1;
}

#application > div > div:last-child > div {
    display: flex;
    column-gap: 1rem;
}

#application > div > div:last-child img {
    height: 2rem;
}

/*
 * doctors section
 */

 #doctors h4 {
    font-weight: 900;
    display: inline-block;
    position: relative;
    width: fit-content;
}

#doctors h4:hover {
    color: #2156eb;
}

#doctors h4:after {
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 0;
    right: 0;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

#doctors h4:hover:after {
    width: 100%;
    left: 0;
    background: #fff;
}

#doctors > div {
    display: flex;
    flex-direction: column;
}

#doctors img {
    height: 70vh;
}

#doctors > div > div:last-child {
    display: flex;
    justify-content: space-around;
    column-gap: 3rem;
}

#doctors > div > div:last-child > div > div {
    display: flex;
    flex-direction: column-reverse;
}

/*
 * news
 */

#news {
    width: 50%;
}

#news > div:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 1rem;
}

#news > div:last-child > div {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

#news > div:last-child > div > div:last-child {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

#news span {
    order: 1;
    font-style: italic;
    text-indent: .5rem;
    align-self: flex-end;
    margin-top: auto;
    text-decoration: underline;
}

/*
 * contact
 */

#contact form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    height: 80vh;
}

#contact input,
#contact textarea {
    font-size: 1.2rem;
}

/*
 * facts section
 */

#facts {
    text-align: center;
}

#facts span {
    color: #098633;
}

#facts > div:last-child {
    margin: 1rem 0;
    padding: 1rem;
    border: 5px dashed var(--blue1);
    display: grid;
    grid-template-columns: repeat(1, 1fr .5fr);
}

#facts > div:last-child > div:nth-child(2) {
    justify-self: end;
    align-self: center;
}

#facts > div:last-child > div:last-child {
    grid-column: span 2;
    margin: 1rem 0;
}

/*
 * footer
 */

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color: var(--blue1);
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer li:hover {
    font-weight: 700;
    color: #3d64e6;
}
footer li:hover::before {
    content: "\2192";
    position: absolute;
    margin-left: -30px;
}

footer > div:last-child li:hover::after {
    content: "\2190";
    position: absolute;
    margin-left: 8px;
}

footer img {
    display: inline;
    position: absolute;
}

/*
 * copyright
 */

body > p,
body > a {
    display: block;
    text-align: center;
    font-style: italic;
    background-color: var(--white1);
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 14px;
        letter-spacing: normal;
        word-spacing: normal;
    }
    
    main {
        margin: 0;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    main > * {
        margin: 0;
        padding: 0;
        flex: 1;
        max-width: 100vw;
        width: 100vw;
        border-radius: 0;
    }

    main > *:nth-child(2n) {
        max-width: 100vw;
        width: 100vw;
    }

    #application,
    #news {
        width: 100vw;
    }

    /*
     * nav
     */

     header {
        text-align: center;
    }
    
    #drop {
        width: 0;
        height: 0;
    }

    header > div:last-child > nav > label,
    #drop {
        display: inline;
    }

    header > div:last-child > nav > ul {
        display: none;
    }

    header > div:last-child > nav > label ~ #drop:checked ~ ul {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    header > div:last-child > nav > ul > li > a:hover ~ input ~ ul,
    header > div:last-child > nav > ul > li > a ~ input ~ ul:hover {
    display: block;
    position: static;
}

    /*
     * banner
     */

    #home {
        flex-direction: column-reverse;
    }

    #home > div:first-child {
        display: flex;
        justify-content: center;
    }

    #home img {
        align-self: center;
    }

    /*
     * appointement responsive section
     */

    #appointment > div {
        flex-direction: column;
    }

    #appointment > div > div:first-child > form {
        align-items: center;
    }

    /*
     * application responsive section
     */

    #application > div > div:first-child {
        display: flex;
        justify-content: center;
    }

    #application > div > div:last-child > p:first-child {
        text-align: center;
    }

    #application > div > div:last-child > div {
        justify-content: center;
    }

    /*
     * doctors responsive section
     */

    #doctors img {
        width: auto;
        height: 84vh;
        margin: 0 auto;
    }

     #doctors > div > div:last-child {
        flex-direction: column;
    }

    #doctors > div > div > div {
        display: flex;
        flex-direction: column-reverse;
        text-align: right;
    }

    /*
     * news responsive section
     */
    
    #news > div:last-child {
        grid-template-columns: repeat(1, 1fr);
    }

    /*
     * contact responsive section
     */

     #contact form {
        align-items: center;
    }

    #contact form input,
    #contact form textarea {
        width: 80%;
    }

    #contact textarea {
        height: 20vh;
    }

    /*
     * footer responsive section
     */

    footer {
        grid-template-columns: repeat(1, 1fr);
    }

    footer > * {
        margin: 1rem 0;
    }
}