.underline {
    text-decoration: underline;
    font-weight: 500;
}

.pronunciation {
    width: 25px;
    height: auto;
    display: block;
    cursor: pointer;
}

.red {
    color: red;
    font-weight: 850;
}

.green {
    color: green;
    font-weight: 850;
}

.blue {
    color: blue;
    font-weight: 850;
}

label {
    vertical-align: unset;
}

input {
    margin: .5rem;
}

div {
    text-align: center;
    align-content: center;
}

#save,
#save ~ label {
    margin: 0 100px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #acacac;
}

#load {
    font-size: 0;
    width: 0;
    height: 0;
    position: absolute;
}

#selection {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    text-align: right;
}

#selection > section {
    display: block;
    text-align: left;
}

#selection > button,
#selection > hr,
#selection > section {
    grid-column: span 16;
}

#form {
    display: none;
}

table {
    text-align: center;
}

thead {
    font-size: 20px;
}

td {
    border: 2px solid black;
    padding: .5rem;
}